#a{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}

#a p{
    background-color: lightcoral;
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

#b{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}

#b p{
    background-color: lightcoral;
    width: 20px;
    height: 20px;
    margin: 10px;
}

#c{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row-reverse;
}

#c p{
    background-color: lightcoral;
    width: 20px;
    height: 20px;
    margin: 10px;
}


#d{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column-reverse;
}

#d p{
    background-color: lightcoral;
    width: 20px;
    height: 20px;
    margin: 10px;
}